.layout1 {
  height: 100vh;

  &__button {
    position: fixed;
    top: 16px;
    z-index: 10;

    @include md-up {
      top: 3.125vw;
    }
  }

  &__button--back {
    left: 16px;

    @include md-up {
      left: 3.125vw;
    }
  }

  &__button--sound {
    right: 16px;

    @include md-up {
      right: 3.125vw;
    }
  }
}