.button-back {
  display: flex;
  align-items: center;
  transition: transform 0.3s;

  &__icon {
    display: block;
    width: 20px;
    margin-right: 10px;

    @include md-up {
      // width: 40px;
      width: 2.083vw;
    }
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 300;
    color: $white;

    @include md-up {
      // font-size: 3rem;
      font-size: 1.563vw;
    }
  }

  &:hover {
    @include md-up {
      transform: scale(1.07);
    }
  }
}

.button-mute {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;

  &:hover {
    @include md-up {
      transform: scale(1.07);
    }
  }

  img {
    width: 24px;
    height: 24px;

    @include md-up {
      // width: 55px;
      width: 2.969vw;
      height: 2.969vw;
    }
  }
}