.box-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__button {
    margin-top: 3vh;

    @include md-up {
      margin-top: 2vh;
    }
  }
}

.box-howto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    text-align: center;
  }

  &__text {
    margin-top: 3vh;
    font-size: 4.800vw;
    color: $black;
    text-align: center;

    @include sm-up {
      font-size: 3.516vw;
    }
  }
}

.box-rotate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    text-align: center;
  }

  &__text {
    margin-top: 3vh;
    font-size: 2.8vw;
    color: $black;
    text-align: center;

    @include sm-up {
      font-size: 3.516vw;
    }
  }
}