.form-your-name {
  &__form {
    display: flex;

    @include md-down {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include md-up {
      align-items: center;
    }
  }

  &__input {
    @include md-down {
      width: 260px;
      margin-top: 15px;
    }

    @include md-up {
      width: 17.448vw;
      margin-left: 2.604vw;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

.form-year {
  padding-top: 7vh;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    @include md-down {
      width: 260px;
      margin-top: 3.5vh;
    }

    @include md-up {
      width: 18.229vw;
      margin-top: 6vh;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 8%;
  }
}