.list-card-activity {
  display: flex;

  @include md-down {
    flex-direction: column;
    align-items: center;
  }

  @include md-up {
    justify-content: center;
  }

  &__item {
    @include md-down {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__item--food {
    @include md-up {
      position: relative;
    }
  }

  &__img {
    @include md-down {
      width: 280px;
    }

    @include md-up {
      transition: transform 0.2s ease-in-out;
    }
  }

  &__img--game {
    @include md-up {
      width: 30.625vw;
    }
  }

  &__img--food {
    @include md-up {
      width: 26.042vw;
    }
  }

  &__img--exercise {
    @include md-up {
      width: 30.625vw;
    }
  }

  &__button {
    display: block;

    &:hover {
      @include md-up {
        .list-card-activity__img {
          transform: translateY(-20px);
        }
        .list-card-activity__text {
          color: $pink;
        }
      }
    }
  }

  &__text {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 1.823vw;
    transition: color 0.2s ease-in-out;
    color: $white;
  }
}

.list-quiz {
  padding: 16px;

  &__question {
    text-align: center;

    @include md-down {
      font-size: 4.867vw;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 6%;
    }
  }

  &__button {
    width: 75vw;
    height: 10.667vw;

    @include md-up {
      width: 28.563vw;
      height: 3.906vw;
    }
  }
}