.list-card-activity {
  display: flex;

  @include md-down {
    flex-direction: column;
    align-items: center;
  }

  @include md-up {
    justify-content: center;
  }

  &__item {
    @include md-down {
      &:not(:first-child) {
        margin-top: 2vh;
      }
    }
  }

  &__item--food {
    @include md-up {
      position: relative;
    }
  }

  &__img {
    width: 64vw;
    pointer-events: none;

    @include xs-up {
      width: 74.667vw;
    }

    @include sm-up {
      width: 45.667vw;
    }

    @include md-up {
      transition: transform 0.3s ease-in-out;
    }
  }

  &__img--game {
    @include md-up {
      width: 28vw;

      @media screen and (max-height : 667px) {
        width: 26vw;
      }
    }
  }

  &__img--food {
    @include md-up {
      width: 24vw;

      @media screen and (max-height : 667px) {
        width: 22vw;
      }
    }
  }

  &__img--exercise {
    @include md-up {
      width: 28vw;

      @media screen and (max-height : 667px) {
        width: 26vw;
      }
    }
  }

  &__button {
    display: block;

    &:hover {
      @include md-up {
        .list-card-activity__img {
          transform: translateY(-20px);
        }
        .list-card-activity__text {
          color: $pink;
          font-weight: 400;
        }
      }
    }
  }

  &__text {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 1.823vw;
    transition: color 0.2s ease-in-out;
    color: $white;

    &--game {
      padding-right: 24%;
    }

    &--exercise {
      padding-left: 24%;
    }

    @include md-up {
      margin-top: 2vh;
    }
  }
}

.list-quiz {
  padding-left: 4.267vw;
  padding-right: 4.267vw;

  &__question {
    text-align: center;
    font-size: 5.5vw;

    @include sm-up {
      font-size: 3.516vw;
    }

    @include md-up {
      font-size: 2.3vw;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;

    @include sm-up {
      margin-top: 5vh;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 2.5vh;

      @include md-up {
        margin-top: 3vh;
      }
    }
  }

  &__button {
    width: 75vw;
    height: 10.667vw;
    font-size: 4.800vw;

    @include sm-up {
      font-size: 2.865vw;
    }

    @include md-up {
      width: 28.563vw;
      height: 3.906vw;
      font-size: 1.823vw;
    }
  }
}

.list-gender-button {
  display: flex;
  justify-content: center;

  &__item {
    width: 36vw;

    @include md-up {
      width: 12.500vw;
    }

    &:last-child {
      margin-left: 15px;

      @include md-up {
        margin-left: 35px;
      }
    }
  }
}