.modal-form-friend {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 69.333vw;

    @include md-up {
      width: 26.823vw;
    }
  }

  &__label {
    margin-top: 3vh;
    font-weight: 300;
    color: $white;
    line-height: 1.4;

    @include md-up {
      margin-top: 5vh;
      font-size: 1.823vw;
    }
  }

  &__button-group {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }

  &__button {
    width: 36vw;

    @include md-up {
      width: 12.500vw;
    }

    &:last-child {
      margin-left: 15px;

      @include md-up {
        margin-left: 35px;
      }
    }
  }
}