@import './_color';

.app-button {
  display: inline-block;
  min-width: 130px;
  height: 40px;
  background-color: $color-blue;
  border-radius: 4px;
  font-size: 1.6rem;
  color: $color-white;
  text-align: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-blue-darker;
  }
}