$color-white: #ffffff;
$color-black: #000000;
$color-black-matt: #333333;
$color-gray-bg: #FAFAFA;
$color-gray-bg-panel: #E5E5E5;
$color-gray-bdr: #DFDFDF;
$color-blue: #155AA7;
$color-blue-darker: #124b8b;
$color-red-error: rgba(240, 61, 62, 0.8)