

@import '../component/dashboard/_color';
@import '../component/dashboard/_header';
@import '../component/dashboard/_button';
@import '../component/dashboard/_nav-menu';
@import '../component/dashboard/_datepicker';

.app {
  min-width: 1200px;
  height: 100%;
  background-color: $color-white;
  color: $color-black-matt;

  &__container {
    padding: 0 60px;
  }

  &__bar {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: $color-gray-bg;
  }

  &__main {}

  &__footer {}
}
