

@import '../component/dashboard/_color';
@import '../component/dashboard/_header';
@import '../component/dashboard/_button';

.app {
  height: 100vh;
  background-color: $color-white;
  color: $color-black;

  &__container {
    padding: 0 60px;
  }

  &__header {}

  &__tool {}

  &__main {}

  &__footer {}
}
