.dark-room {
  &__figure {
    position: absolute;
    pointer-events: none;

    @include md-down {
      right: -16%;
      bottom: -80px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 80%;
    }

    @media screen and (max-width: 1024px), screen and (min-height: 1000px) {
      right: -15%;
      height: 100%;
    }

    @include md-up() {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__image {
    margin: auto;

    @include md-down {
      height: 100%;
    }

    @include md-up {
      transform: translateY(7.500vw);
    }

    &--md {
      @include md-down() {
        display: none;
      }
    }

    &--sm {
      @include md-up() {
        display: none;
      }
    }
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
  }

  &__text {
    text-align: center;
  }

  &__text--static {
    position: relative;
    top: -29%;
  }

  &__button {
    text-align: center;
  }
}