.dark-room {
  &__figure {
    position: absolute;
    left: 0;
    bottom: 0;

    @include md-down {
      left: 50%;
      height: 80.5418%;
      transform: translateX(-50%);

      @media screen and (min-height: 1024px) {
        bottom: -5.1851%;
        height: 100%;
      }
    }


    @include md-up() {
      top: -6.1111%;
      bottom: -13.3333%;
      left: 50%;
      width: auto;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
    }
  }

  &__image {
    margin: auto;
    height: 100%;

    &--md {
      @include md-down() {
        display: none;
      }
    }

    &--sm {
      @include md-up() {
        display: none;
      }
    }
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
  }

  &__text {
    text-align: center;
    transform: translateY(-100%);
  }

  &__text--static {
    position: relative;
    transform: translateY(-200%);
  }

  &__button {
    text-align: center;
  }
}