.dead-body {
  $root: '.dead-body';

  &__container {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    z-index: 10;

    @include md-down {
      flex-direction: column;
      padding-top: 25.2463%;
      align-items: center;
      justify-content: flex-start;
    }

    @include md-up {
      padding-right: 69.375%;
    }

    #{$root}__text {
      flex: 0 1 auto;
      text-align: center;
    }

    #{$root}__button {
      display: block;
      flex: 0 1 auto;
    }
  }

  &__body {
    position: absolute;
    bottom: -5.1724%;
    height: 100%;

    @include md-down {
      left: 0;
    }

    @include md-up {
      // top: -8.7037%;
      right: 0;
      bottom: -8.7037%;
      width: 100%;
      height: auto;
    }
  }

  &__button {
    margin-top: 20px;
  }
}