.end {
  background-color: $blue;

  &__container {
    height: 100%;
  }

  &__button {
    position: absolute;
    top: 35px;
    left: 15px;
    z-index: 50;

    @include md-up {
      top: 50px;
      left: 58px;
    }
  }

  &__coffee {
    position: absolute;
    // top: 9.6059%;
    // right: 46.9230%;
    left: 5.3333%;
    bottom: 87%;
    z-index: 5;

    @include md-down {
      @media screen and (max-height: 667px) {
        bottom: 87%;
      }

      @media screen and (min-height: 668px) {
        bottom: 72.2906%;
      }
    }

    @include md-down {
      width: 41.0666%;
    }

    @include md-up {
      top: -22.7777%;
      left: 25.8333%;
    }
  }

  &__ribbon-top {
    position: absolute;
    z-index: 20;

    @include md-down {
      top: -5.6650%;
      left: 52%;
      height: 22.9064%;
      transform-origin: left top;
      transform: rotate(17deg);
    }

    @include md-up {
      top: -7.5925%;
      right: -16.7708%;
      height: 37.5925%;
    }
  }

  &__ribbon-bottom {
    position: absolute;
    z-index: 20;

    @include md-down {
      right: -36.2666%;
      bottom: -5.7881%;
      height: 31.527%;
      transform-origin: left center;
      transform: rotate(-4deg);
    }
    
    @include md-up {
      right: -10.0520%;
      bottom: -13.8888%;
      height: 56.4814%;
    }
  }

  &__person {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;

    @include md-down {
      top: auto;

      @media screen and (max-height: 667px) {
        height: 87%;
      }

      @media screen and (min-height: 668px) {
        height: 72.2906%;;
      }
    }
  }

  &__body {
    position: absolute;
    bottom: 0;
    right: -96px;
    height: 100%;

    @include md-up {
      right: 0;
    }
  }

  .dead-body {
    &__image {
      height: 100%;
    }
  }

  .social {
    &__list {
      position: absolute;
      left: auto;
      right: 23.2%;
      bottom: 38.9162%;
      z-index: 40;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.6vw;

      @include iphone-se {
        right: 56px;
        bottom: 46.9%;
      }

      @include iphone {
        bottom: 46.9%;
      }

      @include ratio-wide-frame {
        bottom: 46.9%;
      }

      @include ratio-square-frame {
        bottom: 38.9162%;
        right: 16%;
      }

      @include md-up {
        bottom: 28.8888%;
        right: 27.5%;
        margin: 0 -1.4583vw;
      }
    }

    &__item {
      flex: 0 1 auto;
      padding: 0 1.6vw;

      @include md-up {
        padding: 0 1.4583vw;
      }
    }

    &__link {
      display: block;
    }

    &__icon {
      width: 8vw;

      @include md-up {
        width: 3.4vw;
      }
    }
  }
}