.friend-sleep {
  &__text {
    position: relative;
    z-index: 3;
    top: 17vh;

    @include md-up {
      top: 8vh;
    }
  }

  &__friend {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;

    @include md-down {
      height: 61vh;
    }

    @include md-up {
      // height: 63vh;
      height: 67.37vh;
    }

    > img {
      height: 100%;

      @include md-down {
        margin-left: -6.667vw;
      }
    }
  }

  &__arm {
    position: absolute;
    z-index: 2;

    @include md-down {
      bottom: -4%;
      left: 1%;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 61vh;
    }

    @include md-up {
      // bottom: -9%;
      // right: 10%;
      // width: 30%;
      bottom: 0;
      right: 1%;
      width: 100%;
      height: 64vh;
      display: flex;
      justify-content: center;
    }

    > img {
      width: auto;

      @include md-down {
        height: 100%;
      }

      @include md-up {
        height: 100%;
      }
    }
  }
}