.investigate {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;

  &__police {
    position: relative;
    z-index: 1;
    bottom: -2px;
    height: 35.185vh;

    @include sm-up {
      height: 36.133vh;
    }

    @include md-up {
      height: 64.259vh;
    }

    > img {
      position: relative;
      left: 50%;
      height: 100%;
      transform: translatex(-50%);
    }
  }

  &__space {
    position: relative;
    z-index: 1;
    background-color: $blue;
    height: 44.938vh;
    transition: height 0.7s ease-in-out;

    @include sm-up {
      height: 46.296vh;
    }

    @include md-up {
      height: 45vh;
    }

    &.animate {
      height: 75vh;

      @include md-up {
        height: 75vh;
      }
    }
  }

  &__photo {
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.7s ease-in-out;

    &.fade-out {
      opacity: 0;
    }

    &.hidden {
      height: 0;
    }

    @include md-down {
      height: 17vh;
    }

    @include sm-down {
      height: 12vh;
    }

    @include xs-down {
      height: 8vh;
    }

    @include md-up {
      transform: translateY(-41%);
    }

    @include md-up {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    > img {
      @include md-down {
        height: 100%;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }


  &__your-name {
    @include sm-down {
      padding-top: 4vh;
    }

    @include md-up {
      padding-top: 7vh;
    }
  }

  &__story {
    @include sm-down {
      padding-top: 5vh;
    }

    @include md-up {
      padding-top: 5vh;
    }
  }

  &__activity {
    padding-top: 3vh;

    @include sm-up {
      padding-top: 4vh;
    }

    @include md-up {
      padding-top: 5vh;
    }
  }

  &__quiz {
    padding-top: 6vh;

    @include sm-up {
      padding-top: 7vh;
    }
  }

  &__year {
    padding-top: 6vh;

    @include sm-up {
      padding-top: 7vh;
    }
  }
}

.form-activity {
  &__title {
    text-align: center;
    font-size: 5.333vw;

    @include sm-up {
      font-size: 3.516vw;
    }

    @include md-up {
      font-size: 2.865vw;
    }
  }

  &__list {
    margin-top: 2.5vh;

    @include md-up {
      margin-top: 4vh;
    }
  }
}

.text-thankyou {
  @include md-up {
    padding-top: 3vh;
  }
}