.investigate {
  position: absolute;
  top: 35vw;
  left: 0;
  right: 0;
  height: 100vh;

  @media only screen and (min-width: 768px) {
    top: 15vw;
  }

  @include md-up {
    top: 2.083vw;
  }

  &__police {
    position: relative;
    bottom: -2px;
    display: flex;
    justify-content: center;
    height: 40%;

    @media only screen and (min-width: 768px) {
      height: 45%;
    }

    @include md-up {
      height: 61%;
    }

    > img {
      width: auto;
      height: 100%;
    }
  }

  &__photo {
    display: flex;
    justify-content: center;
    text-align: center;

    @media only screen and (max-width: 1024px) {
      height: 16%;
    }

    @media only screen and (max-width: 768px) {
      height: 12%;
    }

    @media only screen and (max-width: 400px) {
      height: 8%;
    }

    @media only screen and (min-width: 1024px) {
      height: 17%;
      transform: translateY(-41%);
    }

    @include md-up {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    > img {
      @include md-down {
        height: 100%;
      }
    }
  }

  &__space {
    position: relative;
    z-index: 1;
    height: 1000px;
    background-color: $blue;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    @include md-up {
      padding-top: 2.5vw;
    }
  }
}

.form-activity {
  &__title {
    text-align: center;

    @include md-down {
      // font-size: 2rem;
      font-size: 5.333vw;
    }
  }

  &__list {
    margin-top: 25px;

    @include md-up {
      margin-top: 4%;
    }
  }
}