.login {
  display: flex;
  height: 100%;

  &__col {
    flex: 1;
    height: 100%;
  }
}

.login-banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
  }

  &__body {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    height: 40%;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $white;

  &__logo {
    text-align: center;

    > img {
      width: 145px;
    }
  }

  &__title {
    margin-top: 30px;
    font-size: 3.2rem;
    text-align: center;
    color: #333;
  }

  &__form {
    width: 350px;
    margin-top: 35px;
  }

  &__input:not(:first-child) {
    margin-top: 30px;
  }

  &__button {
    margin-top: 40px;
    text-align: center;
  }
}

.login-input {
  position: relative;
  padding-left: 40px;
  border: 1px solid #989898;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
  }

  &--username::before {
    background-image: url('../../assets/images/icon/icon_user.svg');
  }

  &--password::before {
    background-image: url('../../assets/images/icon/icon_lock.svg');
  }

  &--password {
    padding-right: 40px;
  }

  &--password-toggle {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    display: block;

    > img {
      width: 24px;
      height: 24px;
    }
  }

  > input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
  }
}
