.murder {
  &__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__content {
    @include md-down {
      margin-bottom: 2.3399%;
    }
  }

  &__text {
    text-align: center;
  }

  &__text--pointing {
    margin-top: 6.6502vh;

    @include md-up {
      margin-top: 4.0740vh;
    }
  }

  &__evidance {
    position: relative;
    text-align: center;
  }

  &__figure {
    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    width: 84.8vw;
    pointer-events: none;

    @include md-up {
      width: 37.6562vw;
    }
  }

  &__icon {
    position: absolute;
    left: 52.3480%;
    bottom: -11.8181%;

    @include md-down {
      width: 5.3333vw;
      max-width: 100%;
    }
  }
}