.police-came {
  display: flex;
  justify-content: center;
  background-color: $blue;

  &__body {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 54%;

    @include sm-down {
      right: -34%;
      height: 61%;
    }

    @include iphone-x {
      right: -41%;
      height: 54%;
    }

    @include sm-up {
      right: -23%;
      bottom: -7%;
      height: 72%;
    }

    @include md-up {
      height: 70.296vh;
    }
  }

  &__body-img {
    height: 100%;
  }

  &__content {
    position: relative;
    top: 20%;

    @include md-up {
      top: 9.2%;
    }
  }
}