.preface {
  display: flex;
  justify-content: center;
  align-items: center;

  &__scene {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    font-size: 4.800vw;
    color: $black;

    @include sm-up {
      font-size: 3.516vw;
    }

    @include md-up {
      font-size: 2.083vw;
    }
  }
}