.summary {
  &__paper {
    position: relative;

    @include md-up { // desktop
      position: absolute;
      top: 0;
      right: 2vw;
      width: 56.25%;
      height: 79vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @include md-down { // ipad
      top: -6%;
      right: -19vw;
      height: 75%;
      opacity: 0;
      transition: opacity 1s ease-in-out, top 1s ease-in-out;

      &.animate {
        top: 6%;
        opacity: 1;
      }
    }

    @include xs-down { // < 576
      right: -8.4vw;
      height: 68vh;

      &.animate {
        top: 7%;
      }

      @media screen and (width : 375px) and (max-height : 812px) {
        top: 6%;
        right: -7vw;
        height: 67vh;
      }

      @media screen and (max-width : 375px) and (max-height : 620px) {
        right: -10.4vw;
        height: 75vh;

        &.animate {
          top: 3%;
        }
      }

      @media screen and (max-width : 375px) and (max-height : 540px) {
        right: -12.4vw;
        height: 85vh;

        &.animate {
          top: 8%;
        }
      }
    }
  }

  &__paper > img {
    width: auto;
    height: 100%;
  }

  &__content {
    position: absolute;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;

    @include md-up {
      top: -5vh;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }

    @include md-down {
      top: 9%;
    }
  }

  &__note {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28%;
  }

  &__note > img {
    height: 100%;
  }

  &__text-note {
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 3.733vw;
    font-weight: 200;
    text-align: center;
    color: $white;

    @include sm-up {
      bottom: 7%;
      font-size: 2.344vw;
    }

    @include md-up {
      bottom: 4vh;
      font-size: 1.042vw;
    }
  }
}

.text-summary {
  @include md-up {
    width: 70%;
  }

  &__title {
    font-size:  4.8vw;
    color: $white;

    @include xs-up {
      font-size: 3.590vw;
    }

    @include md-up {
      font-size: 2.083vw;
    }
  }
}

.list-summary {
  @include md-down {
    margin-left: -5vw;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 6%;
    font-size: 3.733vw;
    font-weight: 200;
    color: $white;

    @include xs-up {
      font-size: 2.8vw;
    }

    @include md-up {
      margin-top: 3vh;
      font-size: 1.302vw;
    }

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      margin-right: 10px;
      background: url('../../assets/images/icon/icon_bullet.svg') 0 0 no-repeat;
      background-size: 100%;

      @include md-up {
        width: 20px;
        height: 20px;
      }
    }
  }
}