.video-doctor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  @include md-up {
    padding: 0 30px;
  }
}

.video-box {
  position: relative;
  padding-top: 56.25%;
  width: 100%;

  @include md-up {
    width: 62.500vw;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}