$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1400px;

// X-Small devices (portrait phones, less than 576px)
@mixin xs-down {
  @media (max-width: $xs) { @content; }
}

// X-Small devices (portrait phones, more than 576px)
@mixin xs-up {
  @media (min-width: $xs + 1) { @content; }
}

// Small devices (landscape phones, less than 768px)
@mixin sm-down {
  @media (max-width: $sm) { @content; }
}

// Small devices (landscape phones, more than 768px)
@mixin sm-up {
  @media (min-width: $sm + 1) { @content; }
}

// Medium devices (tablets, less than 1024px)
@mixin md-down {
  @media (max-width: $md) { @content; }
}

// Medium devices (tablets, more than 1024px)
@mixin md-up {
  @media (min-width: $md + 1) { @content; }
}

// Large devices (desktops, less than 1200px)
@mixin lg-down {
  @media (max-width: $lg) { @content; }
}

// X-Large devices (large desktops, more than 1400px)
@mixin lg-up {
  @media (min-width: $lg + 1) { @content; }
}

// X-Large devices (large desktops, less than 1400px)
@mixin xl-down {
  @media (max-width: $xl) { @content; }
}

// X-Large devices (ladesktops, more than 1400px)rge 
@mixin xl-up {
  @media (min-width: $xl + 1) { @content; }
}

// iphone SE size
@mixin iphone-se {
  @media screen and (width : 320px) and (height : 568px) { @content; }
}

// iphone normal size
@mixin iphone {
  @media screen and (width : 375px) and (height : 667px) { @content; }
}

// iphone plus size
@mixin iphone-plus {
  @media screen and (width : 414px) and (height : 736px) { @content; }
}

@mixin ratio-square-frame {
  @media (aspect-ratio: 4/3) { @content; }
}

@mixin ratio-wide-frame {
  @media (aspect-ratio: 9/16) { @content; }
}