$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1400px;

// X-Small devices (portrait phones, < 576px)
@mixin xs-down {
  @media (max-width: $xs - 1) { @content; }
}

// X-Small devices (portrait phones, >= 576px)
@mixin xs-up {
  @media (min-width: $xs) { @content; }
}

// Small devices (landscape phones, < 768px)
@mixin sm-down {
  @media (max-width: $sm - 1) { @content; }
}

// Small devices (landscape phones, >= 768px)
@mixin sm-up {
  @media (min-width: $sm) { @content; }
}

// Medium devices (tablets, <= 1024px)
@mixin md-down {
  @media (max-width: $md) { @content; }
}

// Medium devices (desktop, >= 1024px)
@mixin md-up {
  @media (min-width: $md + 1) { @content; }
}

// Large devices (desktops, < 1200px)
@mixin lg-down {
  @media (max-width: $lg) { @content; }
}

// X-Large devices (large desktops, > 1200px)
@mixin lg-up {
  @media (min-width: $lg + 1) { @content; }
}

// X-Large devices (Extra large desktops, <= 1400px)
@mixin xl-down {
  @media (max-width: $xl) { @content; }
}

// X-Large devices (Extra large desktops, > 1400px)
@mixin xl-up {
  @media (min-width: $xl + 1) { @content; }
}

@mixin lowest-viewport {
  @media screen and (max-width : 375px) { @content; }
}

// iphone SE size
@mixin iphone-se { // gen 2
  @media screen and (width : 375px) and (max-height : 667px) { @content; }
}

// iphone normal size
@mixin iphone {
  @media screen and (width : 375px) and (max-height : 667px) { @content; }
}

@mixin iphone-x {
  @media screen and (width : 375px) and (height : 812px) { @content; }
}

// iphone plus size
@mixin iphone-plus {
  @media screen and (width : 414px) and (height : 736px) { @content; }
}

/* sqaure portrait 4:3 */
@mixin ratio-square-frame {
  @media (aspect-ratio: 4/3) { @content; }
}

/* wide portrait 16:9 */
@mixin ratio-wide-frame {
  @media (aspect-ratio: 9/16) { @content; }
}