.callpolice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-call {
  width: 34.133vw;

  @include md-up {
    width: 20.990vw;
  }

  &__button {

  }

  &__wave-in {

  }

  &__wave-out {
    
  }

  &__touch {
    
  }
}