.scene1 {
  &__figure {
    position: absolute;
    left: 50%;
    right: auto;
    bottom: -38px;
    transform: translateX(-50%);
    pointer-events: none;

    @include md-up() {
      bottom: 0;
    }
  }

  &__image {
    margin: auto;

    &--pc {
      @include md-up() {
        display: block;
      }
      @include md-down() {
        display: none;
      }
    }

    &--sp {
      @include md-up() {
        display: none;
      }
      @include md-down() {
        display: block;
      }
    }
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
  }
}