.scene1 {
  &__figure {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__image {
    display: block;
    margin: auto;
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}