.frienddead {
  display: flex;
  justify-content: center;
  background-color: $blue;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;

  @include md-down {
    background-position: center bottom -40px;
  }

  &__content {
    position: relative;
    top: 8.4%;

    @include md-up {
      top: 9.6%;
    }
  }
}