.scene6 {
  display: flex;
  justify-content: center;
  background-color: $blue;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include md-up {
    align-items: center;
  }

  &__content {
    @include md-down {
      position: relative;
      top: 8.4%;
    }
  }
}