.scene7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155AA7;
  background-image: url('../../image/background/bg_scene7_sp.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include md-up {
    background-image: url('../../image/background/bg_scene7_md.svg');
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__next {
    margin-top: 10px;

    @include md-up {
      margin-top: 3.958vw;
    }
  }
}