.scene7 {
  display: flex;
  justify-content: center;
  background-color: #155AA7;
  background-image: url('../../image/scene/scene7/bg_scene7_sp.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include md-up {
    align-items: center;
    background-image: url('../../image/scene/scene7/bg_scene7_md.svg');
    background-position: center bottom;
  }

  &__content {
    @include md-down {
      position: relative;
      top: 14.173vh;
    }
  }
}