.scene7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155AA7;
  background-image: url('../../image/background/bg_scene7_sp.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include md-up {
    background-image: url('../../image/background/bg_scene7_md.svg');
    background-position: center bottom;
  }
}