.siren {
  display: flex;
  justify-content: center;
  background-color: $blue;
  background-image: url('../../image/pages/siren/bg_siren_sm.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include md-up {
    align-items: center;
    background-image: url('../../image/pages/siren/bg_siren_md.svg');
  }

  &__content {
    @include md-down {
      position: relative;
      top: 16%;
    }
  }
}